.hidden {
    display: none;
}

.centered {
    margin: auto;
    margin-top: 5%;
    width: 500px;
}

.top-right {
    position: absolute;
    text-align: right;
    top: 0%;
    right: 0%;
    width: 100px;
    height: 50px;
}

.align-center {
    text-align: center;
}

p {
    font-size: 130%
}